@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(../public/images/profile2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  font-family: "Lato", sans-serif;
  color: "333";
}

h1 {
  font-weight: 400;
}
